.outter{
    height: 34.375rem;
    width: 22.813rem;
    background-color: black;
    border: 5px solid black;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}


 .container{
    display: "grid";
    justify-content: center;
    align-items: center;    
    height:"81px";         
    background-color:black;
 }
 
 
 .btn{
   height: 5rem;
   width: 5rem;
   margin: 4.5px;       
   padding: "30px 40px";
   font-size:" 20px";
   cursor: "pointer";
 
 }
 

 
 
